* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu';
  }
  
  body {
    background-color: rgb(247, 247, 247);
  }
  
  .header-container {
    background-color: #5C687C;
    display: flex;

  }
  
  .logo-container {
    display: flex;
    justify-content: center;
    width: 260px; /*Questão 1*/
    order: 1; /*Questão 2*/
  }
  
  .menu-container {
    display: flex;
    width: 500px; /*Questão 1*/
    order: 2; /*Questão 2*/
    flex: 1 1 auto; /*questão 3*/ /*Coloquei aqui para que tenha a ul tenha espaço para crescer até o final*/
  }
  
  .menu-container ul {
    display: flex;
    justify-content: space-around;
    flex: 1 1 auto; /*questão 3*/ /*Coloquei aqui para que tenha a ul tenha espaço para crescer até o final*/
  }
  
  .menu-container li {
    color: white;
    font-weight: 500;
    font-size: 1.3rem;
    list-style: none;
    margin-right: 10px;
    align-self: center; /*Questão 4*/
  }

  .main-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .movie-container {
    display: flex;
    flex-direction: column;

    flex: 10 1 750px; /*Questão 2-3*/ /*Questão 2-4*/
  }
  
  .movie-container h2 {
    margin: 40px 0;
    text-align: center;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .card-container div {
    align-items: center;
    background-color: #5C687C;
    display: flex;
    height: 150px;
    justify-content: center;
    margin: 10px;
    flex: 1 1 16%; /*Questão 2-3*/ /*Questão 2-5*/
  }
  
  .aside-container {
    display: flex;
    flex-direction: column;
    margin: 20px;
    flex:1 1 350px; /*questão 2-1*/
    justify-content: center; /*questão 2-1*/
  }
  
  .aside-container h3, h4 {
    margin-bottom: 10px;
    text-align: center;
  }
  
  .aside-container p {
    margin: 10px 0;
    text-align: justify;
    align-self: center;/*questão 2-1*/

  }